<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="x-ua-compatible" content="ie=edge" />
		<title>South Park Episode Guide</title>
		<meta
			name="description"
			content="info about South Park, and a guide to its episodes"
		/>
		<meta name="viewport" content="width=device-width, initial-scale=1" />

		<link rel="stylesheet" href="dist/css/main.css" />
	</head>

	<body>
		<div id="app">
			<div class="title">
				<h1>Episode Guide for {{tvShowData.name}}</h1>
			</div>

			<article>
				{{tvShowData.summary}}. An American {{tvShowData.type}}
				{{tvShowData.genres}}, it premiered on {{tvShowData.premiered}}
				and has been on the air for {{tvShowData.runtime}} years. It
				airs on {{tvShowData.network.name}} in the
				{{tvShowData.network.country.name}}. It airs on
				{{tvShowData.schedule.days}} for {{tvShowData.schedule.time}}
				minutes, and pulls an average rating of
				{{tvShowData.rating.average}}
			</article>
			<img :src="tvShowData.image.medium" alt="" />

			<h2>Episodes</h2>
			<table>
				<tr>
					<td>Name</td>
					<td>Season</td>
					<td>Episode</td>
					<td>Air Date</td>
					<td>Air Time</td>
					<td>Summary</td>
				</tr>
				<tr v-for="episode in tvShowData._embedded.episodes">
					<td>
						<img
							class="episode-image"
							:src="episode.image.medium"
							alt=""
						/>
						{{episode.name}}
					</td>
					<td>{{episode.season}}</td>
					<td>{{episode.number}}</td>
					<td>{{episode.airdate}}</td>
					<td>{{episode.airtime}}</td>
					<td>
						{{episode.summary}}
					</td>
				</tr>
				<!-- <tr v-for="summary in tvShowData._embedded.episodes">
					{{summary.summary}}
				</tr> -->
			</table>
		</div>

		<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
		<script src="dist/js/main.js"></script>
	</body>
</html>
